{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
  <h1>{% translate "Local Library Home" %}</h1>
  <p>Welcome to <em>LocalLibrary</em>, a website developed by <em>Mozilla Developer Network</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  

<ul>
  <li><strong>{% trans "Books" %}:</strong> {{ num_books }}</li>
  <li><strong>{% trans "Copies" %}:</strong> {{ num_instances }}</li>
  <li><strong>{% trans "Copies available" %}:</strong> {{ num_instances_available }}</li>
  <li><strong>{% trans "Authors" %}:</strong> {{ num_authors }}</li>                                                                                                                                                
</ul>                                                                         

{% blocktrans count num_visits=num_visits %}
  You have visited this page {{ num_visits }} time.
  {% plural %}
  You have visited this page {{ num_visits }} times.
  {% endblocktrans %}
{% endblock %}
